.header1{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.height{
    height: 0!important;
    overflow: hidden;
}

.logo{
    height: 100px;
}